{% extends 'dashboard/base.html' %}

{% block title %}
    Homepage
{% endblock title %}

{% block content %}
    <div class="list-group"></div>
    {% for pet in listOfPets %}

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ pet }}</h5>
                <small></small>
            </div>
            <p class="mb-1">{{ pet.description }}</p>
            <small>{{ pet.owner }}</small>
        </a>

    {% endfor %}
    </div>
{% endblock content %}